In [5]:
import pandas as pd
file_path = "G:\MCA\Semester 1\E2_BA\Assignment 3\MutualFunds.xlsx"
df = pd.read_excel(file_path)
df = df[['Fund Type','5 Year Average Return (%)']]
df.rename(columns={'5 Year Average Return (%)':'5yr_avg'}, inplace = True)
df.head()

  Fund Type  5yr_avg
0        DE    12.39
1        IE    30.53
2        FI     3.34
3        DE    10.88
4        DE    11.32

In [9]:
start = 0
end = 10
list_df = []
for i in range(0,6):
    list_df.append(df[(df['5yr_avg'] >= start) & (df['5yr_avg'] < end)].groupby(['Fund Type']).count().reset_index().rename(columns={'5yr_avg':'case_'+str(i+1)}))
    start = end
    end = end + 10

In [10]:
final_df2 = pd.concat(
    (iDF.set_index('Fund Type') for iDF in list_df),
    axis=1, join='outer'
).reset_index()
final_df2.fillna(0, inplace=True)
final_df2

  Fund Type  case_1  case_2  case_3  case_4  case_5  case_6
0        DE     1.0      25     1.0     0.0     0.0     0.0
1        FI     9.0       1     0.0     0.0     0.0     0.0
2        IE     0.0       2     3.0     2.0     0.0     1.0