In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mplt
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from IPython.core.interactiveshell import InteractiveShell
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import explained_variance_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
%matplotlib inline
import seaborn as sns
import math
import gc
import ipaddress
from urllib.parse import urlparse
from tldextract import extract
from sklearn.metrics import confusion_matrix

import sys
from pathlib import Path
d = Path().resolve().parent.parent
sys.path.insert(0, str(d))
import util.utils as utils
import util.plot_utils as plot_utils

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import lightgbm as lgb

np.set_printoptions(threshold=np.nan)



plt.rcParams["figure.figsize"] = (12,4)

from xgboost import XGBClassifier
import xgboost as xgb
from sklearn.metrics import accuracy_score


InteractiveShell.ast_node_interactivity = "all"
np.set_printoptions(precision=2)

In [2]:
project_name="cross-sell"
def get_file_location(filename):
    return "../data/%s/%s" % (project_name,filename)

In [3]:
all_features = ['ACT_TYPE',
 'AGE',
 'AGL_TAG',
 'AGRI_TAG',
 'AL_CLOSED',
 'AL_CNC_TAG',
 'AL_SCRUB_CLOSED',
 'AL_SCRUB_LIVE',
 'AL_TAG',
 'AMB_MON_01',
 'AMB_MON_02',
 'AMB_MON_03',
 'AMB_MON_04',
 'BBG_CLOSED',
 'BBG_TAG',
 'BL_CLOSED',
 'BL_SCRUB_CLOSED',
 'BL_SCRUB_LIVE',
 'BL_TAG',
 'BTE_ACTIVE_MON_01',
 'BTE_CLOSED_MON_01',
 'CARD_AUTOMOBILE_MON_01',
 'CARD_ENTMNT_MON_01',
 'CARD_HOBBY_MON_01',
 'CARD_HOME_DECOR_MON_01',
 'CARD_HOTEL_MON_01',
 'CARD_JEWELLERY_MON_01',
 'CARD_MEDICAL_MON_01',
 'CARD_PRSNL_CARE_MON_01',
 'CARD_RESTAURANT_MON_01',
 'CARD_TRAVEL_MON_01',
 'CAR_MON_01',
 'CAR_MON_02',
 'CAR_MON_03',
 'CC_ACTIVE',
 'CC_ACTIVE_MON_01',
 'CC_ACTIVE_MON_02',
 'CC_ACTIVE_MON_03',
 'CC_HOLD',
 'CC_HOLD_MON_01',
 'CC_HOLD_MON_02',
 'CC_HOLD_MON_03',
 'CC_SPEND_MON_01',
 'CC_SPEND_MON_01_ATM',
 'CC_SPEND_MON_01_CARE',
 'CC_SPEND_MON_01_ENT',
 'CC_SPEND_MON_01_HBY',
 'CC_SPEND_MON_01_HMD',
 'CC_SPEND_MON_01_HTL',
 'CC_SPEND_MON_01_JER',
 'CC_SPEND_MON_01_MED',
 'CC_SPEND_MON_01_RST',
 'CC_SPEND_MON_01_TRL',
 'CC_SPEND_MON_02',
 'CC_SPEND_MON_02_ATM',
 'CC_SPEND_MON_02_CARE',
 'CC_SPEND_MON_02_ENT',
 'CC_SPEND_MON_02_HBY',
 'CC_SPEND_MON_02_HMD',
 'CC_SPEND_MON_02_HTL',
 'CC_SPEND_MON_02_JER',
 'CC_SPEND_MON_02_MED',
 'CC_SPEND_MON_02_RST',
 'CC_SPEND_MON_02_TRL',
 'CC_SPEND_MON_03',
 'CC_SPEND_MON_03_ATM',
 'CC_SPEND_MON_03_CARE',
 'CC_SPEND_MON_03_ENT',
 'CC_SPEND_MON_03_HBY',
 'CC_SPEND_MON_03_HMD',
 'CC_SPEND_MON_03_HTL',
 'CC_SPEND_MON_03_JER',
 'CC_SPEND_MON_03_MED',
 'CC_SPEND_MON_03_RST',
 'CC_SPEND_MON_03_TRL',
 'CC_SPEND_MON_04',
 'CC_SPEND_MON_04_ATM',
 'CC_SPEND_MON_04_CARE',
 'CC_SPEND_MON_04_ENT',
 'CC_SPEND_MON_04_HBY',
 'CC_SPEND_MON_04_HMD',
 'CC_SPEND_MON_04_HTL',
 'CC_SPEND_MON_04_JER',
 'CC_SPEND_MON_04_MED',
 'CC_SPEND_MON_04_RST',
 'CC_SPEND_MON_04_TRL',
 'CC_SPEND_MON_05',
 'CC_SPEND_MON_06',
 'CC_TXN_MON_01',
 'CC_TXN_MON_02',
 'CC_TXN_MON_03',
 'CC_TXN_MON_04',
 'CC_TXN_MON_05',
 'CC_TXN_MON_06',
 'CDL_MON_01',
 'CDL_MON_02',
 'CDL_MON_03',
 'CDMAT_MON_01',
 'CDMAT_MON_04',
 'CEL_SCRUB_CLOSED',
 'CEL_SCRUB_LIVE',
 'CEL_TAG',
 'CE_TAG',
 'CHANNEL_CLICK_DISP',
 'CLOSED_DATE',
 'COC_ACTIVE_MON_01',
 'COC_CLOSED_MON_01',
 'COC_ELIGIBLE',
 'CREDIT_ACT',
 'CRED_NEED_SCORE',
 'CR_LIMIT',
 'CVL_TAG',
 'CV_CLOSED',
 'CV_TAG',
 'C_AMT_L3_MON_01',
 'C_AMT_L3_MON_02',
 'C_AMT_L3_MON_03',
 'C_AMT_L3_MON_04',
 'C_AMT_L3_MON_05',
 'C_AMT_L3_MON_06',
 'C_COUNT_L3_MON_01',
 'C_COUNT_L3_MON_02',
 'C_COUNT_L3_MON_03',
 'C_COUNT_L3_MON_04',
 'C_COUNT_L3_MON_05',
 'C_COUNT_L3_MON_06',
 'DC_ACTIVE',
 'DC_ACTIVE_MON_01',
 'DC_ACTIVE_MON_02',
 'DC_ACTIVE_MON_03',
 'DC_HOLD',
 'DC_SPEND_MON_01',
 'DC_SPEND_MON_01_ATM',
 'DC_SPEND_MON_01_CARE',
 'DC_SPEND_MON_01_ENT',
 'DC_SPEND_MON_01_HBY',
 'DC_SPEND_MON_01_HMD',
 'DC_SPEND_MON_01_HTL',
 'DC_SPEND_MON_01_JER',
 'DC_SPEND_MON_01_MED',
 'DC_SPEND_MON_01_RST',
 'DC_SPEND_MON_01_TRL',
 'DC_SPEND_MON_02',
 'DC_SPEND_MON_02_ATM',
 'DC_SPEND_MON_02_CARE',
 'DC_SPEND_MON_02_ENT',
 'DC_SPEND_MON_02_HBY',
 'DC_SPEND_MON_02_HMD',
 'DC_SPEND_MON_02_HTL',
 'DC_SPEND_MON_02_JER',
 'DC_SPEND_MON_02_MED',
 'DC_SPEND_MON_02_RST',
 'DC_SPEND_MON_02_TRL',
 'DC_SPEND_MON_03',
 'DC_SPEND_MON_03_ATM',
 'DC_SPEND_MON_03_CARE',
 'DC_SPEND_MON_03_ENT',
 'DC_SPEND_MON_03_HBY',
 'DC_SPEND_MON_03_HMD',
 'DC_SPEND_MON_03_HTL',
 'DC_SPEND_MON_03_JER',
 'DC_SPEND_MON_03_MED',
 'DC_SPEND_MON_03_RST',
 'DC_SPEND_MON_03_TRL',
 'DC_SPEND_MON_04',
 'DC_SPEND_MON_04_ATM',
 'DC_SPEND_MON_04_CARE',
 'DC_SPEND_MON_04_ENT',
 'DC_SPEND_MON_04_GRC',
 'DC_SPEND_MON_04_HBY',
 'DC_SPEND_MON_04_HMD',
 'DC_SPEND_MON_04_HTL',
 'DC_SPEND_MON_04_JER',
 'DC_SPEND_MON_04_MED',
 'DC_SPEND_MON_04_RST',
 'DC_SPEND_MON_04_TRL',
 'DC_SPEND_MON_05',
 'DC_SPEND_MON_05_ATM',
 'DC_SPEND_MON_05_CARE',
 'DC_SPEND_MON_05_ENT',
 'DC_SPEND_MON_05_HBY',
 'DC_SPEND_MON_05_HMD',
 'DC_SPEND_MON_05_HTL',
 'DC_SPEND_MON_05_JER',
 'DC_SPEND_MON_05_MED',
 'DC_SPEND_MON_05_RST',
 'DC_SPEND_MON_05_TRL',
 'DC_SPEND_MON_06',
 'DC_TXN_MON_01',
 'DC_TXN_MON_02',
 'DC_TXN_MON_03',
 'DC_TXN_MON_04',
 'DC_TXN_MON_05',
 'DC_TXN_MON_06',
 'DEBIT_ACT',
 'DESIGNATION_FINAL',
 'D_AMT_L3_MON_01',
 'D_AMT_L3_MON_02',
 'D_AMT_L3_MON_03',
 'D_AMT_L3_MON_04',
 'D_AMT_L3_MON_05',
 'D_AMT_L3_MON_06',
 'D_COUNT_L3_MON_01',
 'D_COUNT_L3_MON_02',
 'D_COUNT_L3_MON_03',
 'D_COUNT_L3_MON_04',
 'D_COUNT_L3_MON_05',
 'D_COUNT_L3_MON_06',
 'EDU_TAG',
 'EEG_CLOSED',
 'EEG_TAG',
 'EL_TAG',
 'EOP_BAL_MON_01',
 'EOP_MON_02',
 'EOP_MON_03',
 'FD_MON_01',
 'FD_MON_04',
 'FINANCE_MON_01',
 'GENDER',
 'GI_MON_01',
 'GI_MON_04',
 'GL_CLOSED',
 'GL_MON_01',
 'GL_MON_02',
 'GL_MON_03',
 'GL_SCRUB_CLOSED',
 'GL_SCRUB_LIVE',
 'GL_TAG',
 'HL_EMI',
 'HL_TAG',
 'IMPS_CC_AMOUNT_MON_01',
 'IMPS_CC_CATEGORY_MON_01',
 'IMPS_CC_TXN_MON_01',
 'INMON_01KET_MON_01',
 'JOBS_MON_01',
 'LAA_MON_01',
 'LAA_MON_02',
 'LAA_MON_03',
 'LAP_CLOSED',
 'LAP_SCRUB_CLOSED',
 'LAP_SCRUB_LIVE',
 'LAP_TAG',
 'LAST_3MTHS_INQ',
 'LAS_CLOSED',
 'LAS_SCRUB_CLOSED',
 'LAS_SCRUB_LIVE',
 'LAS_TAG',
 'LEGAL_ENTITY',
 'LFP_MON_01',
 'LFP_MON_02',
 'LFP_MON_03',
 'LIFESTYLE_MON_01',
 'LI_MON_01',
 'LI_MON_04',
 'MATURITY_GL',
 'MATURITY_LAP',
 'MATURITY_LAS',
 'MAX_C_AMT_L3_MON_01',
 'MAX_C_AMT_L3_MON_02',
 'MAX_C_AMT_L3_MON_03',
 'MAX_C_AMT_L3_MON_04',
 'MAX_C_AMT_L3_MON_05',
 'MAX_C_AMT_L3_MON_06',
 'MER_EMI_ACTIVE_MON_01',
 'MER_EMI_CLOSED_MON_01',
 'MF_MON_01',
 'MF_MON_04',
 'NB_MON_01_CNT',
 'NB_MON_02_CNT',
 'NB_MON_03_CNT',
 'NEFT_CC_AMOUNT',
 'NEFT_CC_CATEGORY',
 'NEFT_CC_TXN',
 'NEFT_DC_AMOUNT',
 'NEFT_DC_CATEGORY',
 'NEFT_DC_TXN',
 'N_CASA_MAX_BALANCE_MTD',
 'N_CASA_MIN_BALANCE_MTD',
 'OCCUP_ALL_NEW',
 'OTHER_LOANS_TAG',
 'PA_PQ_TAG',
 'PL2CC_ACTIVE_MON_01',
 'PL2CC_CLOSED_MON_01',
 'PL2CC_ELIGIBLE',
 'PL_CLOSED',
 'PL_MON_01',
 'PL_MON_02',
 'PL_MON_03',
 'PL_SCRUB_CLOSED',
 'PL_SCRUB_LIVE',
 'PL_TAG',
 'PM_FD_MON_01',
 'PM_FD_MON_02',
 'PM_FD_MON_04',
 'PREV_3MTHS_INQ',
 'RD_MON_01',
 'RD_MON_04',
 'SAL_MON_01',
 'SAL_MON_02',
 'SAL_MON_03',
 'SCRUB_EMI',
 'STMT_CON_DAE_ACTIVE_MON_01',
 'STMT_CON_DAE_CLOSED_MON_01',
 'STMT_MON_01',
 'STMT_MON_02',
 'STMT_MON_03',
 'TL_SCRUB_CLOSED',
 'TL_SCRUB_LIVE',
 'TL_TAG',
 'TOP14_CITY',
 'TOP9_CITY',
 'TOP_100_CORP',
 'TOP_800_CORP',
 'TOP_CORP_TAG',
 'TPT_CC_AMOUNT_MON_01',
 'TPT_CC_CATEGORY_MON_01',
 'TPT_CC_TXN_MON_01',
 'TPT_DC_AMOUNT_MON_01',
 'TPT_DC_CATEGORY_MON_01',
 'TPT_DC_TXN_MON_01',
 'TRAVEL_MON_01',
 'TRN_CON_DAE_ACTIVE_MON_01',
 'TRN_CON_DAE_CLOSED_MON_01',
 'TWL_CLOSED',
 'TWL_MON_01',
 'TWL_MON_02',
 'TWL_MON_03',
 'TWL_SCRUB_CLOSED',
 'TWL_SCRUB_LIVE',
 'TWL_TAG',
 'ZIP_CODE_FINAL']

date_columns = ["CLOSED_DATE","MATURITY_GL","MATURITY_LAP","MATURITY_LAS"]


output_column = "RESPONDERS"

In [65]:
df = pd.read_csv("../data/%s/%s" % (project_name,"train.csv"),low_memory=False)
df_test = pd.read_csv("../data/%s/%s" % (project_name,"test.csv"),low_memory=False)
gc.collect()

10791

In [66]:
def process_zip_codes():
    df["ZIP_CODE_FINAL"] = df["ZIP_CODE_FINAL"].astype(str)
    df_test["ZIP_CODE_FINAL"] = df_test["ZIP_CODE_FINAL"].astype(str)

    df["ZIP_CODE_FINAL"] = df["ZIP_CODE_FINAL"].map(lambda x: x.replace(" ", "").replace("-",""))
    df_test["ZIP_CODE_FINAL"] = df_test["ZIP_CODE_FINAL"].map(lambda x: x.replace(" ", "").replace("-",""))

    df.loc[df["ZIP_CODE_FINAL"].isin(["X",".","ZZZZZ","ZZ","E"]),"ZIP_CODE_FINAL"] = np.nan
    df_test.loc[df_test["ZIP_CODE_FINAL"].isin(["X",".","ZZZZZ","ZZ","E"]),"ZIP_CODE_FINAL"] = np.nan

    indian = ["APO","56APO","56 APO","99APO","INDIA"]
    df.loc[df["ZIP_CODE_FINAL"].isin(indian),"ZIP_CODE_FINAL"] = 21510057
    df_test.loc[df_test["ZIP_CODE_FINAL"].isin(indian),"ZIP_CODE_FINAL"] = 21510057

    foreign = ["HA86TE","L6X4E5","F92A07D","TN38024","M5R1S8","T2A6P1","TW119QT","R3Y1V6","NR46PQ"]
    df.loc[df["ZIP_CODE_FINAL"].isin(foreign),"ZIP_CODE_FINAL"] = 47173021
    df_test.loc[df_test["ZIP_CODE_FINAL"].isin(foreign),"ZIP_CODE_FINAL"] = 47173021


    df["ZIP_CODE_FINAL"] = df["ZIP_CODE_FINAL"].astype(float)
    df_test["ZIP_CODE_FINAL"] = df_test["ZIP_CODE_FINAL"].astype(float)

#     df["ZIP_CODE_FINAL"] = df["ZIP_CODE_FINAL"].map(lambda x: x if x == np.nan else int(round(x)))
#     df_test["ZIP_CODE_FINAL"] = df_test["ZIP_CODE_FINAL"].map(lambda x: x if x == np.nan else int(round(x)))

#     df["ZIP_CODE_FINAL"] = df["ZIP_CODE_FINAL"].astype(int)
#     df_test["ZIP_CODE_FINAL"] = df["ZIP_CODE_FINAL"].astype(int)


process_zip_codes()

In [67]:
# pd.to_datetime(df["MATURITY_GL"],format="%d%b%Y")

def parse_date(df,column):
    df[column] = pd.to_datetime(df[column],format="%d%b%Y")
    df[column+'_month']= df[column].map(lambda x: x.month)
    df[column+'_year']= df[column].map(lambda x: x.year)
    df[column+'_week'] = df[column].map(lambda x: x.week)
    df.drop([column], axis = 1, inplace = True)
    
    
for column in date_columns:
    parse_date(df,column)
    parse_date(df_test,column)
    all_features.append(column+'_month')
    all_features.append(column+'_year')
    all_features.append(column+'_week')

In [68]:
df.drop(["OCCUP_ALL_NEW"], axis = 1, inplace = True)
df_test.drop(["OCCUP_ALL_NEW"], axis = 1, inplace = True)
all_features = list(set(all_features) - set(date_columns+["OCCUP_ALL_NEW"]))

In [69]:
two_value_columns = []
for column in all_features:
    train_unique = df[column].unique()
    test_unique = df_test[column].unique()
    if(len(train_unique)<=2 and 
       len(test_unique)<=2 and 
       set(train_unique)==set(test_unique) and 
       (set(train_unique)==set(["Y",np.nan]) or set(train_unique)==set(["Y","N"]))):
        two_value_columns.append(column)
        

len(two_value_columns)
two_value_columns

72

['GL_TAG',
 'CREDIT_ACT',
 'CV_CLOSED',
 'TWL_TAG',
 'BL_CLOSED',
 'DC_ACTIVE_MON_03',
 'AGRI_TAG',
 'LAS_CLOSED',
 'TOP_800_CORP',
 'GL_CLOSED',
 'CARD_ENTMNT_MON_01',
 'OTHER_LOANS_TAG',
 'CARD_PRSNL_CARE_MON_01',
 'CVL_TAG',
 'PL2CC_ACTIVE_MON_01',
 'JOBS_MON_01',
 'CC_ACTIVE',
 'DC_ACTIVE_MON_01',
 'CARD_AUTOMOBILE_MON_01',
 'CC_ACTIVE_MON_02',
 'MER_EMI_ACTIVE_MON_01',
 'LAP_TAG',
 'LAS_TAG',
 'CC_HOLD_MON_02',
 'AL_CNC_TAG',
 'CE_TAG',
 'PL_TAG',
 'TWL_CLOSED',
 'CC_ACTIVE_MON_03',
 'CARD_HOTEL_MON_01',
 'COC_ACTIVE_MON_01',
 'AGL_TAG',
 'CC_HOLD',
 'EL_TAG',
 'CC_HOLD_MON_03',
 'DC_ACTIVE_MON_02',
 'CARD_HOBBY_MON_01',
 'AL_TAG',
 'INMON_01KET_MON_01',
 'BTE_ACTIVE_MON_01',
 'CARD_HOME_DECOR_MON_01',
 'CARD_RESTAURANT_MON_01',
 'CARD_MEDICAL_MON_01',
 'PL2CC_CLOSED_MON_01',
 'CC_HOLD_MON_01',
 'TOP_100_CORP',
 'DC_HOLD',
 'LIFESTYLE_MON_01',
 'BTE_CLOSED_MON_01',
 'LAP_CLOSED',
 'EDU_TAG',
 'HL_TAG',
 'COC_CLOSED_MON_01',
 'CARD_TRAVEL_MON_01',
 'TRN_CON_DAE_CLOSED_MON_01',
 'DEBIT_ACT',
 'CEL_TAG',
 'CC_ACTIVE_MON_01',
 'DC_ACTIVE',
 'CARD_JEWELLERY_MON_01',
 'TL_TAG',
 'PREV_3MTHS_INQ',
 'TRN_CON_DAE_ACTIVE_MON_01',
 'PL_CLOSED',
 'AL_CLOSED',
 'TRAVEL_MON_01',
 'BL_TAG',
 'TOP14_CITY',
 'CV_TAG',
 'FINANCE_MON_01',
 'LAST_3MTHS_INQ',
 'TOP9_CITY']

In [70]:
for column in two_value_columns:
    df.loc[df[column]=="Y",column] = 1
#     df[(df[column]=="N") | pd.isnull(df[column])] = 0
    df.loc[pd.isnull(df[column]),column] = -1
    df.loc[(df[column]=="N"),column] = 0
    df_test.loc[df_test[column]=="Y",column] = 1
    df_test.loc[(df_test[column]=="N"),column] = 0
    df_test.loc[pd.isnull(df_test[column]),column] = -1
    df[column] = df[column].astype(int)
    df_test[column] = df_test[column].astype(int)

In [74]:
df.drop(["BBG_CLOSED","BBG_TAG"], axis = 1, inplace = True)
df_test.drop(["BBG_CLOSED","BBG_TAG"], axis = 1, inplace = True)
all_features = list(set(all_features) - set(["BBG_CLOSED","BBG_TAG"]))

In [75]:



test_dt = df_test[all_features].dtypes
numeric_features = []
for k,v in df[all_features].dtypes.items():
    if(v in ['int64','float64'] and test_dt[k] in ['int64','float64']):
        numeric_features.append(k)



int_features = []
for k,v in df[all_features].dtypes.items():
    if(v in ['int64'] and test_dt[k] in ['int64']):
        int_features.append(k)
        


obj_features = []
for k,v in df[all_features].dtypes.items():
    if(v in ['object','str'] or test_dt[k] in ['object','str']):
        obj_features.append(k)
        
len(numeric_features)
len(int_features)
len(obj_features)

features = int_features + obj_features

324

75

12

In [78]:
for column in obj_features:
    if(df[column].dtypes!=df_test[column].dtypes):
        print(column)
        print(df[column].dtypes)
        print(df_test[column].dtypes)

for column in obj_features:
    print(column)
    print(df[column].unique())
    print(df_test[column].unique())
    print("===========xxx==========\n")

for column in obj_features:
    df_test[df_test[column].notnull()][[column]].head(4)
    df[df[column].notnull()][[column]].head(4)

CHANNEL_CLICK_DISP
['NONE' 'DISP' 'CLICK']
['NONE' 'DISP' 'CLICK']
===========xxx==========

GENDER
['M' 'F' nan]
['M' 'F' nan]
===========xxx==========

PA_PQ_TAG
[nan 'PQ_WITH_INCOME_20K' 'Green Channel' 'PQ_WITH_INCOME_25K' 'STP'
 'PQ_WITH_INCOME_31K' 'PQ with Ref dedupe' 'PQ_WITH_INCOME_15K'
 'PQ_WITH_INCOME_19K' 'PQ with Dedupe' 'PQ_WITH_INCOME_16K'
 'PQ_WITH_INCOME_30K' 'PQ_WITH_INCOME_95K' 'PQ_WITH_INCOME_53K'
 'PQ_WITH_INCOME_22K' 'PQ_WITH_INCOME_39K' 'PQ_WITH_INCOME_40K'
 'PQ_WITH_INCOME_122K' 'PQ_WITH_INCOME_38K' 'PQ_WITH_INCOME_17K'
 'PQ_WITH_INCOME_32K' 'PQ_WITH_INCOME_21K' 'PQ with Coapp' 'PQ with KYC'
 'PQ_WITH_INCOME_29K' 'PQ with Neg dedupe' 'PQ_WITH_INCOME_42K'
 'PQ_WITH_INCOME_37K' 'PQ_WITH_INCOME_44K' 'PQ_WITH_INCOME_33K'
 'PQ_WITH_INCOME_35K' 'PQ_WITH_INCOME_67K' 'PQ_WITH_INCOME_83K'
 'PQ with Account' 'PQ_WITH_INCOME_43K' 'PQ_WITH_INCOME_50K'
 'PQ_WITH_INCOME_24K' 'PQ_WITH_INCOME_74K' 'PQ_WITH_INCOME_48K'
 'PQ_WITH_INCOME_27K' 'PQ_WITH_INCOME_34K' 'PQ_WITH_INCOME_89K'
 'PQ_WITH_INCOME_100K' 'PQ_WITH_INCOME_58K' 'PQ_WITH_INCOME_75K'
 'PQ_WITH_INCOME_99K' 'PQ_WITH_INCOME_36K' 'PQ_WITH_INCOME_125K'
 'PQ_WITH_INCOME_23K' 'PQ_WITH_INCOME_26K' 'PQ_WITH_INCOME_62K'
 'PQ_WITH_INCOME_76K' 'PQ_WITH_INCOME_96K' 'PQ_WITH_INCOME_60K'
 'PQ_WITH_INCOME_150K' 'PQ_WITH_INCOME_49K' 'PQ_WITH_INCOME_66K'
 'PQ_WITH_INCOME_79K' 'PQ_WITH_INCOME_18K' 'PQ_WITH_INCOME_28K'
 'PQ_WITH_INCOME_85K' 'PQ_WITH_INCOME_54K' 'PQ_WITH_INCOME_45K'
 'PQ_WITH_INCOME_64K' 'PQ_WITH_INCOME_69K' 'PQ_WITH_INCOME_46K'
 'PQ_WITH_INCOME_71K' 'PQ_WITH_INCOME_88K' 'PQ_WITH_INCOME_142K'
 'PQ_WITH_INCOME_47K' 'PQ_WITH_INCOME_51K' 'PQ_WITH_INCOME_208K'
 'PQ_WITH_INCOME_65K' 'PQ_WITH_INCOME_63K' 'PQ_WITH_INCOME_56K'
 'PQ_WITH_INCOME_59K' 'PQ_WITH_INCOME_167K' 'PQ_WITH_INCOME_93K'
 'PQ_WITH_INCOME_70K' 'PQ_WITH_INCOME_200K' 'PQ_WITH_INCOME_52K'
 'PQ_WITH_INCOME_87K' 'PQ_WITH_INCOME_55K' 'PQ_WITH_INCOME_72K'
 'PQ_WITH_INCOME_77K' 'PQ_WITH_INCOME_41K' 'PQ_WITH_INCOME_417K'
 'PQ_WITH_INCOME_183K' 'PQ_WITH_INCOME_57K' 'PQ_WITH_INCOME_78K'
 'PQ_WITH_INCOME_82K' 'PQ_WITH_INCOME_117K' 'PQ_WITH_INCOME_80K'
 'PQ_WITH_INCOME_375K' 'PQ_WITH_INCOME_91K' 'PQ_WITH_INCOME_68K'
 'PQ_WITH_INCOME_73K' 'PQ_WITH_INCOME_115K' 'PQ_WITH_INCOME_667K'
 'PQ_WITH_INCOME_104K' 'PQ_WITH_INCOME_98K' 'PQ_WITH_INCOME_300K'
 'PQ_WITH_INCOME_625K' 'PQ_WITH_INCOME_107K' 'PQ_WITH_INCOME_250K'
 'PQ_WITH_INCOME_700K' 'PQ_WITH_INCOME_333K' 'PQ_WITH_INCOME_86K'
 'PQ_WITH_INCOME_583K' 'PQ_WITH_INCOME_61K' 'PQ_WITH_INCOME_500K'
 'PQ_WITH_INCOME_133K' 'PQ_WITH_INCOME_92K' 'PQ_WITH_INCOME_94K'
 'PQ_WITH_INCOME_103K' 'PQ_WITH_INCOME_192K' 'PQ_WITH_INCOME_112K'
 'PQ_WITH_INCOME_97K' 'PQ_WITH_INCOME_108K' 'PQ_WITH_INCOME_90K'
 'PQ_WITH_INCOME_109K' 'PQ_WITH_INCOME_400K' 'PQ_WITH_INCOME_233K'
 'PQ_WITH_INCOME_81K' 'PQ_WITH_INCOME_129K' 'PQ_WITH_INCOME_1000K'
 'PQ_WITH_INCOME_113K' 'PQ_WITH_INCOME_833K' 'PQ_WITH_INCOME_120K'
 'PQ_WITH_INCOME_121K' 'PQ_WITH_INCOME_292K' 'PQ_WITH_INCOME_182K'
 'PQ_WITH_INCOME_134K' 'PQ_WITH_INCOME_1250K' 'PQ_WITH_INCOME_205K'
 'PQ_WITH_INCOME_2000K' 'PQ_WITH_INCOME_258K' 'PQ_WITH_INCOME_246K'
 'PQ_WITH_INCOME_476K' 'PQ_WITH_INCOME_247K' 'PQ_WITH_INCOME_241K']
[nan 'Green Channel' 'PQ_WITH_INCOME_71K' 'STP' 'PQ_WITH_INCOME_15K'
 'PQ_WITH_INCOME_25K' 'PQ_WITH_INCOME_36K' 'PQ with Ref dedupe'
 'PQ_WITH_INCOME_28K' 'PQ_WITH_INCOME_26K' 'PQ with Account'
 'PQ_WITH_INCOME_63K' 'PQ with Neg dedupe' 'PQ_WITH_INCOME_32K'
 'PQ_WITH_INCOME_29K' 'PQ_WITH_INCOME_64K' 'PQ_WITH_INCOME_16K'
 'PQ with KYC' 'PQ_WITH_INCOME_18K' 'PQ_WITH_INCOME_24K' 'PQ with Coapp'
 'PQ_WITH_INCOME_48K' 'PQ with Dedupe' 'PQ_WITH_INCOME_50K'
 'PQ_WITH_INCOME_19K' 'PQ_WITH_INCOME_44K' 'PQ_WITH_INCOME_108K'
 'PQ_WITH_INCOME_35K' 'PQ_WITH_INCOME_23K' 'PQ_WITH_INCOME_21K'
 'PQ_WITH_INCOME_20K' 'PQ_WITH_INCOME_41K' 'PQ_WITH_INCOME_17K'
 'PQ_WITH_INCOME_92K' 'PQ_WITH_INCOME_22K' 'PQ_WITH_INCOME_42K'
 'PQ_WITH_INCOME_27K' 'PQ_WITH_INCOME_47K' 'PQ_WITH_INCOME_143K'
 'PQ_WITH_INCOME_37K' 'PQ_WITH_INCOME_60K' 'PQ_WITH_INCOME_33K'
 'PQ_WITH_INCOME_43K' 'PQ_WITH_INCOME_118K' 'PQ_WITH_INCOME_74K'
 'PQ_WITH_INCOME_167K' 'PQ_WITH_INCOME_75K' 'PQ_WITH_INCOME_59K'
 'PQ_WITH_INCOME_51K' 'PQ_WITH_INCOME_58K' 'PQ_WITH_INCOME_77K'
 'PQ_WITH_INCOME_34K' 'PQ_WITH_INCOME_125K' 'PQ_WITH_INCOME_46K'
 'PQ_WITH_INCOME_40K' 'PQ_WITH_INCOME_38K' 'PQ_WITH_INCOME_31K'
 'PQ_WITH_INCOME_49K' 'PQ_WITH_INCOME_65K' 'PQ_WITH_INCOME_100K'
 'PQ_WITH_INCOME_30K' 'PQ_WITH_INCOME_96K' 'PQ_WITH_INCOME_260K'
 'PQ_WITH_INCOME_67K' 'PQ_WITH_INCOME_39K' 'PQ_WITH_INCOME_45K'
 'PQ_WITH_INCOME_61K' 'PQ_WITH_INCOME_82K' 'PQ_WITH_INCOME_72K'
 'PQ_WITH_INCOME_69K' 'PQ_WITH_INCOME_83K' 'PQ_WITH_INCOME_1000K'
 'PQ_WITH_INCOME_120K' 'PQ_WITH_INCOME_52K' 'PQ_WITH_INCOME_56K'
 'PQ_WITH_INCOME_57K' 'PQ_WITH_INCOME_54K' 'PQ_WITH_INCOME_79K'
 'PQ_WITH_INCOME_62K' 'PQ_WITH_INCOME_68K' 'PQ_WITH_INCOME_136K'
 'PQ_WITH_INCOME_600K' 'PQ_WITH_INCOME_73K' 'PQ_WITH_INCOME_150K'
 'PQ_WITH_INCOME_53K' 'PQ_WITH_INCOME_625K' 'PQ_WITH_INCOME_417K'
 'PQ_WITH_INCOME_55K' 'PQ_WITH_INCOME_87K' 'PQ_WITH_INCOME_78K'
 'PQ_WITH_INCOME_90K' 'PQ_WITH_INCOME_104K' 'PQ_WITH_INCOME_80K'
 'PQ_WITH_INCOME_124K' 'PQ_WITH_INCOME_109K' 'PQ_WITH_INCOME_93K'
 'PQ_WITH_INCOME_99K' 'PQ_WITH_INCOME_70K' 'PQ_WITH_INCOME_113K'
 'PQ_WITH_INCOME_158K' 'PQ_WITH_INCOME_89K' 'PQ_WITH_INCOME_91K'
 'PQ_WITH_INCOME_66K' 'PQ_WITH_INCOME_142K' 'PQ_WITH_INCOME_88K'
 'PQ_WITH_INCOME_130K' 'PQ_WITH_INCOME_375K' 'PQ_WITH_INCOME_500K'
 'PQ_WITH_INCOME_4167K' 'PQ_WITH_INCOME_81K' 'PQ_WITH_INCOME_76K'
 'PQ_WITH_INCOME_85K' 'PQ_WITH_INCOME_407K' 'PQ_WITH_INCOME_317K'
 'PQ_WITH_INCOME_250K' 'PQ_WITH_INCOME_95K' 'PQ_WITH_INCOME_200K'
 'PQ_WITH_INCOME_3333K' 'PQ_WITH_INCOME_144K' 'PQ_WITH_INCOME_196K'
 'PQ_WITH_INCOME_185K' 'PQ_WITH_INCOME_86K' 'PQ_WITH_INCOME_300K'
 'PQ_WITH_INCOME_208K' 'PQ_WITH_INCOME_117K' 'PQ_WITH_INCOME_188K'
 'PQ_WITH_INCOME_133K']
===========xxx==========

LEGAL_ENTITY
['INDIVIDUAL' 'OTHERS' 'NON_GOVERNMENTAL_ORG' 'ASSOCIATION' 'FIRM']
['INDIVIDUAL' 'OTHERS' 'NON_GOVERNMENTAL_ORG' 'PROPRIETERSHIP'
 'ASSOCIATION' 'TRUSTS']
===========xxx==========

TPT_DC_CATEGORY_MON_01
['NO_TPT_TXN' 'NOT_RELEVANT' 'MEDICAL' 'LOAN' 'TRANSFER' 'TRAVEL'
 'PERSONAL' 'RENT' 'CC_PAYMENT' 'RETURN' 'EMI' 'EDUCATION' 'BUILDER'
 'CHILD_BIR' 'HELP' 'ADVANCE' 'WEDDING' 'GAS' 'ELECTRICI' 'OPERATION'
 'JEWELLERY']
['NO_TPT_TXN' 'NOT_RELEVANT' 'LOAN' 'TRANSFER' 'RETURN' 'RENT' 'EDUCATION'
 'TRAVEL' 'PERSONAL' 'CC_PAYMENT' 'HELP' 'MEDICAL' 'EMI' 'WEDDING'
 'ADVANCE' 'ELECTRICI' 'BUILDER' 'JEWELLERY' 'CHILD_BIR' 'GAS']
===========xxx==========

ACT_TYPE
['CSA' 'SA']
['CSA' 'SA']
===========xxx==========

IMPS_CC_CATEGORY_MON_01
['NO_IMPS_TXN' 'NOT_RELEVANT' 'TRANSFER' 'RENT' 'LOAN' 'RETURN' 'EMI'
 'CC_PAYMENT' 'PERSONAL' 'EDUCATION' 'TRAVEL' 'ADVANCE' 'CHILD_BIR'
 'MEDICAL' 'GAS' 'BUILDER' 'HELP' 'JEWELLERY' 'WEDDING' 'ELECTRICI'
 'OPERATION']
['NO_IMPS_TXN' 'NOT_RELEVANT' 'TRAVEL' 'CC_PAYMENT' 'RETURN' 'LOAN'
 'TRANSFER' 'EMI' 'PERSONAL' 'RENT' 'EDUCATION' 'ADVANCE' 'MEDICAL' 'HELP'
 'OPERATION' 'WEDDING' 'BUILDER' 'ELECTRICI' 'CHILD_BIR' 'GAS']
===========xxx==========

NEFT_CC_CATEGORY
['NO_NEFT_TXN' 'NOT_RELEVANT' 'LOAN' 'RETURN' 'TRANSFER' 'RENT' 'TRAVEL'
 'EDUCATION' 'EMI' 'PERSONAL' 'MEDICAL' 'BUILDER' 'JEWELLERY' 'ELECTRICI'
 'GAS' 'WEDDING' 'OPERATION' 'ADVANCE' 'CHILD_BIR' 'HELP']
['NO_NEFT_TXN' 'NOT_RELEVANT' 'LOAN' 'EMI' 'TRANSFER' 'MEDICAL' 'ELECTRICI'
 'EDUCATION' 'BUILDER' 'RETURN' 'RENT' 'TRAVEL' 'JEWELLERY' 'OPERATION'
 'PERSONAL' 'GAS' 'ADVANCE' 'HELP' 'CC_PAYMENT' 'CHILD_BIR']
===========xxx==========

DESIGNATION_FINAL
['MISSING' 'ENGINEER' 'MANAGER' 'EXECUTIVE' 'SUP/TECH/OPR' 'OFFICER'
 'OTHERS' 'DEVEP/PROG/ANALYST/ASSO' 'REMAING' 'TOP_MANAG/DOC'
 'TEACH/PROF/CONSULT']
['MISSING' 'OTHERS' 'TEACH/PROF/CONSULT' 'OFFICER' 'EXECUTIVE' 'MANAGER'
 'REMAING' 'TOP_MANAG/DOC' 'ENGINEER' 'DEVEP/PROG/ANALYST/ASSO'
 'SUP/TECH/OPR']
===========xxx==========

TPT_CC_CATEGORY_MON_01
['NO_TPT_TXN' 'NOT_RELEVANT' 'TRANSFER' 'LOAN' 'PERSONAL' 'RETURN' 'RENT'
 'TRAVEL' 'CC_PAYMENT' 'EMI' 'CHILD_BIR' 'EDUCATION' 'GAS' 'ADVANCE'
 'MEDICAL' 'HELP' 'ELECTRICI' 'WEDDING' 'BUILDER' 'OPERATION' 'JEWELLERY']
['NO_TPT_TXN' 'NOT_RELEVANT' 'LOAN' 'TRANSFER' 'EMI' 'RETURN' 'RENT'
 'TRAVEL' 'PERSONAL' 'CC_PAYMENT' 'MEDICAL' 'ADVANCE' 'EDUCATION' 'HELP'
 'ELECTRICI' 'BUILDER' 'WEDDING' 'GAS' 'CHILD_BIR' 'OPERATION' 'JEWELLERY']
===========xxx==========

NEFT_DC_CATEGORY
['NO_NEFT_TXN' 'NOT_RELEVANT' 'LOAN' 'RENT' 'JEWELLERY' 'EDUCATION'
 'MEDICAL' 'TRAVEL' 'PERSONAL' 'CC_PAYMENT' 'BUILDER' 'GAS' 'ELECTRICI'
 'EMI' 'CHILD_BIR' 'TRANSFER' 'HELP' 'WEDDING' 'OPERATION' 'RETURN']
['NO_NEFT_TXN' 'NOT_RELEVANT' 'LOAN' 'BUILDER' 'GAS' 'RENT' 'ELECTRICI'
 'EDUCATION' 'TRAVEL' 'CC_PAYMENT' 'EMI' 'MEDICAL' 'JEWELLERY' 'PERSONAL'
 'WEDDING' 'CHILD_BIR' 'ADVANCE' 'TRANSFER' 'HELP' 'OPERATION']
===========xxx==========

TOP_CORP_TAG
['NONE' 'TOP_100' 'TOP_800']
['NONE' 'TOP_800' 'TOP_100']
===========xxx==========

  CHANNEL_CLICK_DISP
0               NONE
1               NONE
2               NONE
3               NONE

  CHANNEL_CLICK_DISP
0               NONE
1               NONE
2               NONE
3               NONE

  GENDER
0      M
1      M
2      F
3      F

  GENDER
0      M
1      M
2      M
3      M

            PA_PQ_TAG
3       Green Channel
4  PQ_WITH_INCOME_71K
6                 STP
9                 STP

             PA_PQ_TAG
4   PQ_WITH_INCOME_20K
5        Green Channel
8   PQ_WITH_INCOME_25K
12                 STP

  LEGAL_ENTITY
0   INDIVIDUAL
1   INDIVIDUAL
2   INDIVIDUAL
3   INDIVIDUAL

  LEGAL_ENTITY
0   INDIVIDUAL
1   INDIVIDUAL
2   INDIVIDUAL
3   INDIVIDUAL

  TPT_DC_CATEGORY_MON_01
0             NO_TPT_TXN
1             NO_TPT_TXN
2             NO_TPT_TXN
3             NO_TPT_TXN

  TPT_DC_CATEGORY_MON_01
0             NO_TPT_TXN
1             NO_TPT_TXN
2             NO_TPT_TXN
3             NO_TPT_TXN

  ACT_TYPE
0      CSA
1      CSA
2       SA
3      CSA

  ACT_TYPE
0      CSA
1      CSA
2      CSA
3      CSA

  IMPS_CC_CATEGORY_MON_01
0             NO_IMPS_TXN
1             NO_IMPS_TXN
2             NO_IMPS_TXN
3             NO_IMPS_TXN

  IMPS_CC_CATEGORY_MON_01
0             NO_IMPS_TXN
1             NO_IMPS_TXN
2             NO_IMPS_TXN
3             NO_IMPS_TXN

  NEFT_CC_CATEGORY
0      NO_NEFT_TXN
1      NO_NEFT_TXN
2      NO_NEFT_TXN
3      NO_NEFT_TXN

  NEFT_CC_CATEGORY
0      NO_NEFT_TXN
1      NO_NEFT_TXN
2      NO_NEFT_TXN
3      NO_NEFT_TXN

  DESIGNATION_FINAL
0           MISSING
1           MISSING
2           MISSING
3           MISSING

  DESIGNATION_FINAL
0           MISSING
1           MISSING
2           MISSING
3           MISSING

  TPT_CC_CATEGORY_MON_01
0             NO_TPT_TXN
1             NO_TPT_TXN
2             NO_TPT_TXN
3             NO_TPT_TXN

  TPT_CC_CATEGORY_MON_01
0             NO_TPT_TXN
1             NO_TPT_TXN
2             NO_TPT_TXN
3             NO_TPT_TXN

  NEFT_DC_CATEGORY
0      NO_NEFT_TXN
1      NO_NEFT_TXN
2      NO_NEFT_TXN
3      NO_NEFT_TXN

  NEFT_DC_CATEGORY
0      NO_NEFT_TXN
1      NO_NEFT_TXN
2     NOT_RELEVANT
3      NO_NEFT_TXN

  TOP_CORP_TAG
0         NONE
1      TOP_800
2         NONE
3         NONE

  TOP_CORP_TAG
0         NONE
1         NONE
2         NONE
3         NONE

In [82]:

for column in obj_features:
    print(column)
    len(df[column].unique())
    df[column].unique()
    df_test[column].unique()
    print("=============xxx============")

CHANNEL_CLICK_DISP

3

array(['NONE', 'DISP', 'CLICK'], dtype=object)

array(['NONE', 'DISP', 'CLICK'], dtype=object)

=============xxx============
GENDER

3

array(['M', 'F', nan], dtype=object)

array(['M', 'F', nan], dtype=object)

=============xxx============
PA_PQ_TAG

141

array([nan, 'PQ_WITH_INCOME_20K', 'Green Channel', 'PQ_WITH_INCOME_25K',
       'STP', 'PQ_WITH_INCOME_31K', 'PQ with Ref dedupe',
       'PQ_WITH_INCOME_15K', 'PQ_WITH_INCOME_19K', 'PQ with Dedupe',
       'PQ_WITH_INCOME_16K', 'PQ_WITH_INCOME_30K', 'PQ_WITH_INCOME_95K',
       'PQ_WITH_INCOME_53K', 'PQ_WITH_INCOME_22K', 'PQ_WITH_INCOME_39K',
       'PQ_WITH_INCOME_40K', 'PQ_WITH_INCOME_122K', 'PQ_WITH_INCOME_38K',
       'PQ_WITH_INCOME_17K', 'PQ_WITH_INCOME_32K', 'PQ_WITH_INCOME_21K',
       'PQ with Coapp', 'PQ with KYC', 'PQ_WITH_INCOME_29K',
       'PQ with Neg dedupe', 'PQ_WITH_INCOME_42K', 'PQ_WITH_INCOME_37K',
       'PQ_WITH_INCOME_44K', 'PQ_WITH_INCOME_33K', 'PQ_WITH_INCOME_35K',
       'PQ_WITH_INCOME_67K', 'PQ_WITH_INCOME_83K', 'PQ with Account',
       'PQ_WITH_INCOME_43K', 'PQ_WITH_INCOME_50K', 'PQ_WITH_INCOME_24K',
       'PQ_WITH_INCOME_74K', 'PQ_WITH_INCOME_48K', 'PQ_WITH_INCOME_27K',
       'PQ_WITH_INCOME_34K', 'PQ_WITH_INCOME_89K', 'PQ_WITH_INCOME_100K',
       'PQ_WITH_INCOME_58K', 'PQ_WITH_INCOME_75K', 'PQ_WITH_INCOME_99K',
       'PQ_WITH_INCOME_36K', 'PQ_WITH_INCOME_125K', 'PQ_WITH_INCOME_23K',
       'PQ_WITH_INCOME_26K', 'PQ_WITH_INCOME_62K', 'PQ_WITH_INCOME_76K',
       'PQ_WITH_INCOME_96K', 'PQ_WITH_INCOME_60K', 'PQ_WITH_INCOME_150K',
       'PQ_WITH_INCOME_49K', 'PQ_WITH_INCOME_66K', 'PQ_WITH_INCOME_79K',
       'PQ_WITH_INCOME_18K', 'PQ_WITH_INCOME_28K', 'PQ_WITH_INCOME_85K',
       'PQ_WITH_INCOME_54K', 'PQ_WITH_INCOME_45K', 'PQ_WITH_INCOME_64K',
       'PQ_WITH_INCOME_69K', 'PQ_WITH_INCOME_46K', 'PQ_WITH_INCOME_71K',
       'PQ_WITH_INCOME_88K', 'PQ_WITH_INCOME_142K', 'PQ_WITH_INCOME_47K',
       'PQ_WITH_INCOME_51K', 'PQ_WITH_INCOME_208K', 'PQ_WITH_INCOME_65K',
       'PQ_WITH_INCOME_63K', 'PQ_WITH_INCOME_56K', 'PQ_WITH_INCOME_59K',
       'PQ_WITH_INCOME_167K', 'PQ_WITH_INCOME_93K', 'PQ_WITH_INCOME_70K',
       'PQ_WITH_INCOME_200K', 'PQ_WITH_INCOME_52K', 'PQ_WITH_INCOME_87K',
       'PQ_WITH_INCOME_55K', 'PQ_WITH_INCOME_72K', 'PQ_WITH_INCOME_77K',
       'PQ_WITH_INCOME_41K', 'PQ_WITH_INCOME_417K', 'PQ_WITH_INCOME_183K',
       'PQ_WITH_INCOME_57K', 'PQ_WITH_INCOME_78K', 'PQ_WITH_INCOME_82K',
       'PQ_WITH_INCOME_117K', 'PQ_WITH_INCOME_80K', 'PQ_WITH_INCOME_375K',
       'PQ_WITH_INCOME_91K', 'PQ_WITH_INCOME_68K', 'PQ_WITH_INCOME_73K',
       'PQ_WITH_INCOME_115K', 'PQ_WITH_INCOME_667K', 'PQ_WITH_INCOME_104K',
       'PQ_WITH_INCOME_98K', 'PQ_WITH_INCOME_300K', 'PQ_WITH_INCOME_625K',
       'PQ_WITH_INCOME_107K', 'PQ_WITH_INCOME_250K', 'PQ_WITH_INCOME_700K',
       'PQ_WITH_INCOME_333K', 'PQ_WITH_INCOME_86K', 'PQ_WITH_INCOME_583K',
       'PQ_WITH_INCOME_61K', 'PQ_WITH_INCOME_500K', 'PQ_WITH_INCOME_133K',
       'PQ_WITH_INCOME_92K', 'PQ_WITH_INCOME_94K', 'PQ_WITH_INCOME_103K',
       'PQ_WITH_INCOME_192K', 'PQ_WITH_INCOME_112K', 'PQ_WITH_INCOME_97K',
       'PQ_WITH_INCOME_108K', 'PQ_WITH_INCOME_90K', 'PQ_WITH_INCOME_109K',
       'PQ_WITH_INCOME_400K', 'PQ_WITH_INCOME_233K', 'PQ_WITH_INCOME_81K',
       'PQ_WITH_INCOME_129K', 'PQ_WITH_INCOME_1000K',
       'PQ_WITH_INCOME_113K', 'PQ_WITH_INCOME_833K', 'PQ_WITH_INCOME_120K',
       'PQ_WITH_INCOME_121K', 'PQ_WITH_INCOME_292K', 'PQ_WITH_INCOME_182K',
       'PQ_WITH_INCOME_134K', 'PQ_WITH_INCOME_1250K',
       'PQ_WITH_INCOME_205K', 'PQ_WITH_INCOME_2000K',
       'PQ_WITH_INCOME_258K', 'PQ_WITH_INCOME_246K', 'PQ_WITH_INCOME_476K',
       'PQ_WITH_INCOME_247K', 'PQ_WITH_INCOME_241K'], dtype=object)

array([nan, 'Green Channel', 'PQ_WITH_INCOME_71K', 'STP',
       'PQ_WITH_INCOME_15K', 'PQ_WITH_INCOME_25K', 'PQ_WITH_INCOME_36K',
       'PQ with Ref dedupe', 'PQ_WITH_INCOME_28K', 'PQ_WITH_INCOME_26K',
       'PQ with Account', 'PQ_WITH_INCOME_63K', 'PQ with Neg dedupe',
       'PQ_WITH_INCOME_32K', 'PQ_WITH_INCOME_29K', 'PQ_WITH_INCOME_64K',
       'PQ_WITH_INCOME_16K', 'PQ with KYC', 'PQ_WITH_INCOME_18K',
       'PQ_WITH_INCOME_24K', 'PQ with Coapp', 'PQ_WITH_INCOME_48K',
       'PQ with Dedupe', 'PQ_WITH_INCOME_50K', 'PQ_WITH_INCOME_19K',
       'PQ_WITH_INCOME_44K', 'PQ_WITH_INCOME_108K', 'PQ_WITH_INCOME_35K',
       'PQ_WITH_INCOME_23K', 'PQ_WITH_INCOME_21K', 'PQ_WITH_INCOME_20K',
       'PQ_WITH_INCOME_41K', 'PQ_WITH_INCOME_17K', 'PQ_WITH_INCOME_92K',
       'PQ_WITH_INCOME_22K', 'PQ_WITH_INCOME_42K', 'PQ_WITH_INCOME_27K',
       'PQ_WITH_INCOME_47K', 'PQ_WITH_INCOME_143K', 'PQ_WITH_INCOME_37K',
       'PQ_WITH_INCOME_60K', 'PQ_WITH_INCOME_33K', 'PQ_WITH_INCOME_43K',
       'PQ_WITH_INCOME_118K', 'PQ_WITH_INCOME_74K', 'PQ_WITH_INCOME_167K',
       'PQ_WITH_INCOME_75K', 'PQ_WITH_INCOME_59K', 'PQ_WITH_INCOME_51K',
       'PQ_WITH_INCOME_58K', 'PQ_WITH_INCOME_77K', 'PQ_WITH_INCOME_34K',
       'PQ_WITH_INCOME_125K', 'PQ_WITH_INCOME_46K', 'PQ_WITH_INCOME_40K',
       'PQ_WITH_INCOME_38K', 'PQ_WITH_INCOME_31K', 'PQ_WITH_INCOME_49K',
       'PQ_WITH_INCOME_65K', 'PQ_WITH_INCOME_100K', 'PQ_WITH_INCOME_30K',
       'PQ_WITH_INCOME_96K', 'PQ_WITH_INCOME_260K', 'PQ_WITH_INCOME_67K',
       'PQ_WITH_INCOME_39K', 'PQ_WITH_INCOME_45K', 'PQ_WITH_INCOME_61K',
       'PQ_WITH_INCOME_82K', 'PQ_WITH_INCOME_72K', 'PQ_WITH_INCOME_69K',
       'PQ_WITH_INCOME_83K', 'PQ_WITH_INCOME_1000K', 'PQ_WITH_INCOME_120K',
       'PQ_WITH_INCOME_52K', 'PQ_WITH_INCOME_56K', 'PQ_WITH_INCOME_57K',
       'PQ_WITH_INCOME_54K', 'PQ_WITH_INCOME_79K', 'PQ_WITH_INCOME_62K',
       'PQ_WITH_INCOME_68K', 'PQ_WITH_INCOME_136K', 'PQ_WITH_INCOME_600K',
       'PQ_WITH_INCOME_73K', 'PQ_WITH_INCOME_150K', 'PQ_WITH_INCOME_53K',
       'PQ_WITH_INCOME_625K', 'PQ_WITH_INCOME_417K', 'PQ_WITH_INCOME_55K',
       'PQ_WITH_INCOME_87K', 'PQ_WITH_INCOME_78K', 'PQ_WITH_INCOME_90K',
       'PQ_WITH_INCOME_104K', 'PQ_WITH_INCOME_80K', 'PQ_WITH_INCOME_124K',
       'PQ_WITH_INCOME_109K', 'PQ_WITH_INCOME_93K', 'PQ_WITH_INCOME_99K',
       'PQ_WITH_INCOME_70K', 'PQ_WITH_INCOME_113K', 'PQ_WITH_INCOME_158K',
       'PQ_WITH_INCOME_89K', 'PQ_WITH_INCOME_91K', 'PQ_WITH_INCOME_66K',
       'PQ_WITH_INCOME_142K', 'PQ_WITH_INCOME_88K', 'PQ_WITH_INCOME_130K',
       'PQ_WITH_INCOME_375K', 'PQ_WITH_INCOME_500K',
       'PQ_WITH_INCOME_4167K', 'PQ_WITH_INCOME_81K', 'PQ_WITH_INCOME_76K',
       'PQ_WITH_INCOME_85K', 'PQ_WITH_INCOME_407K', 'PQ_WITH_INCOME_317K',
       'PQ_WITH_INCOME_250K', 'PQ_WITH_INCOME_95K', 'PQ_WITH_INCOME_200K',
       'PQ_WITH_INCOME_3333K', 'PQ_WITH_INCOME_144K',
       'PQ_WITH_INCOME_196K', 'PQ_WITH_INCOME_185K', 'PQ_WITH_INCOME_86K',
       'PQ_WITH_INCOME_300K', 'PQ_WITH_INCOME_208K', 'PQ_WITH_INCOME_117K',
       'PQ_WITH_INCOME_188K', 'PQ_WITH_INCOME_133K'], dtype=object)

=============xxx============
LEGAL_ENTITY

5

array(['INDIVIDUAL', 'OTHERS', 'NON_GOVERNMENTAL_ORG', 'ASSOCIATION',
       'FIRM'], dtype=object)

array(['INDIVIDUAL', 'OTHERS', 'NON_GOVERNMENTAL_ORG', 'PROPRIETERSHIP',
       'ASSOCIATION', 'TRUSTS'], dtype=object)

=============xxx============
TPT_DC_CATEGORY_MON_01

21

array(['NO_TPT_TXN', 'NOT_RELEVANT', 'MEDICAL', 'LOAN', 'TRANSFER',
       'TRAVEL', 'PERSONAL', 'RENT', 'CC_PAYMENT', 'RETURN', 'EMI',
       'EDUCATION', 'BUILDER', 'CHILD_BIR', 'HELP', 'ADVANCE', 'WEDDING',
       'GAS', 'ELECTRICI', 'OPERATION', 'JEWELLERY'], dtype=object)

array(['NO_TPT_TXN', 'NOT_RELEVANT', 'LOAN', 'TRANSFER', 'RETURN', 'RENT',
       'EDUCATION', 'TRAVEL', 'PERSONAL', 'CC_PAYMENT', 'HELP', 'MEDICAL',
       'EMI', 'WEDDING', 'ADVANCE', 'ELECTRICI', 'BUILDER', 'JEWELLERY',
       'CHILD_BIR', 'GAS'], dtype=object)

=============xxx============
ACT_TYPE

2

array(['CSA', 'SA'], dtype=object)

array(['CSA', 'SA'], dtype=object)

=============xxx============
IMPS_CC_CATEGORY_MON_01

21

array(['NO_IMPS_TXN', 'NOT_RELEVANT', 'TRANSFER', 'RENT', 'LOAN', 'RETURN',
       'EMI', 'CC_PAYMENT', 'PERSONAL', 'EDUCATION', 'TRAVEL', 'ADVANCE',
       'CHILD_BIR', 'MEDICAL', 'GAS', 'BUILDER', 'HELP', 'JEWELLERY',
       'WEDDING', 'ELECTRICI', 'OPERATION'], dtype=object)

array(['NO_IMPS_TXN', 'NOT_RELEVANT', 'TRAVEL', 'CC_PAYMENT', 'RETURN',
       'LOAN', 'TRANSFER', 'EMI', 'PERSONAL', 'RENT', 'EDUCATION',
       'ADVANCE', 'MEDICAL', 'HELP', 'OPERATION', 'WEDDING', 'BUILDER',
       'ELECTRICI', 'CHILD_BIR', 'GAS'], dtype=object)

=============xxx============
NEFT_CC_CATEGORY

20

array(['NO_NEFT_TXN', 'NOT_RELEVANT', 'LOAN', 'RETURN', 'TRANSFER', 'RENT',
       'TRAVEL', 'EDUCATION', 'EMI', 'PERSONAL', 'MEDICAL', 'BUILDER',
       'JEWELLERY', 'ELECTRICI', 'GAS', 'WEDDING', 'OPERATION', 'ADVANCE',
       'CHILD_BIR', 'HELP'], dtype=object)

array(['NO_NEFT_TXN', 'NOT_RELEVANT', 'LOAN', 'EMI', 'TRANSFER', 'MEDICAL',
       'ELECTRICI', 'EDUCATION', 'BUILDER', 'RETURN', 'RENT', 'TRAVEL',
       'JEWELLERY', 'OPERATION', 'PERSONAL', 'GAS', 'ADVANCE', 'HELP',
       'CC_PAYMENT', 'CHILD_BIR'], dtype=object)

=============xxx============
DESIGNATION_FINAL

11

array(['MISSING', 'ENGINEER', 'MANAGER', 'EXECUTIVE', 'SUP/TECH/OPR',
       'OFFICER', 'OTHERS', 'DEVEP/PROG/ANALYST/ASSO', 'REMAING',
       'TOP_MANAG/DOC', 'TEACH/PROF/CONSULT'], dtype=object)

array(['MISSING', 'OTHERS', 'TEACH/PROF/CONSULT', 'OFFICER', 'EXECUTIVE',
       'MANAGER', 'REMAING', 'TOP_MANAG/DOC', 'ENGINEER',
       'DEVEP/PROG/ANALYST/ASSO', 'SUP/TECH/OPR'], dtype=object)

=============xxx============
TPT_CC_CATEGORY_MON_01

21

array(['NO_TPT_TXN', 'NOT_RELEVANT', 'TRANSFER', 'LOAN', 'PERSONAL',
       'RETURN', 'RENT', 'TRAVEL', 'CC_PAYMENT', 'EMI', 'CHILD_BIR',
       'EDUCATION', 'GAS', 'ADVANCE', 'MEDICAL', 'HELP', 'ELECTRICI',
       'WEDDING', 'BUILDER', 'OPERATION', 'JEWELLERY'], dtype=object)

array(['NO_TPT_TXN', 'NOT_RELEVANT', 'LOAN', 'TRANSFER', 'EMI', 'RETURN',
       'RENT', 'TRAVEL', 'PERSONAL', 'CC_PAYMENT', 'MEDICAL', 'ADVANCE',
       'EDUCATION', 'HELP', 'ELECTRICI', 'BUILDER', 'WEDDING', 'GAS',
       'CHILD_BIR', 'OPERATION', 'JEWELLERY'], dtype=object)

=============xxx============
NEFT_DC_CATEGORY

20

array(['NO_NEFT_TXN', 'NOT_RELEVANT', 'LOAN', 'RENT', 'JEWELLERY',
       'EDUCATION', 'MEDICAL', 'TRAVEL', 'PERSONAL', 'CC_PAYMENT',
       'BUILDER', 'GAS', 'ELECTRICI', 'EMI', 'CHILD_BIR', 'TRANSFER',
       'HELP', 'WEDDING', 'OPERATION', 'RETURN'], dtype=object)

array(['NO_NEFT_TXN', 'NOT_RELEVANT', 'LOAN', 'BUILDER', 'GAS', 'RENT',
       'ELECTRICI', 'EDUCATION', 'TRAVEL', 'CC_PAYMENT', 'EMI', 'MEDICAL',
       'JEWELLERY', 'PERSONAL', 'WEDDING', 'CHILD_BIR', 'ADVANCE',
       'TRANSFER', 'HELP', 'OPERATION'], dtype=object)

=============xxx============
TOP_CORP_TAG

3

array(['NONE', 'TOP_100', 'TOP_800'], dtype=object)

array(['NONE', 'TOP_800', 'TOP_100'], dtype=object)

=============xxx============

In [86]:
df.to_hdf(get_file_location("train.h5"),"table",mode='w')
df_test.to_hdf(get_file_location("test.h5"),"table",mode='w')

/Users/ahemf/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:1299: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['ACT_TYPE', 'GENDER', 'LEGAL_ENTITY', 'CHANNEL_CLICK_DISP', 'DESIGNATION_FINAL', 'PA_PQ_TAG', 'NEFT_CC_CATEGORY', 'NEFT_DC_CATEGORY', 'TPT_DC_CATEGORY_MON_01', 'TPT_CC_CATEGORY_MON_01', 'IMPS_CC_CATEGORY_MON_01', 'TOP_CORP_TAG', 'RESPONDERS']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)
/Users/ahemf/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:1299: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['ACT_TYPE', 'GENDER', 'LEGAL_ENTITY', 'CHANNEL_CLICK_DISP', 'DESIGNATION_FINAL', 'PA_PQ_TAG', 'NEFT_CC_CATEGORY', 'NEFT_DC_CATEGORY', 'TPT_DC_CATEGORY_MON_01', 'TPT_CC_CATEGORY_MON_01', 'IMPS_CC_CATEGORY_MON_01', 'TOP_CORP_TAG']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [87]:
df = pd.read_hdf(get_file_location("train.h5"),"table")
df_test = pd.read_hdf(get_file_location("test.h5"),"table")

(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(3, 1)
(475, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(11, 1)
(2, 1)
(2, 1)
(2, 1)
(3, 1)
(2, 1)
(2, 1)
(2, 1)
(21, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(7, 1)
(2, 1)
(581, 1)
(72, 1)
(42, 1)
(2, 1)
(21, 1)
(21, 1)
(1, 1)
(2, 1)
(157, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(3, 1)
(21, 1)
(21, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(2, 1)
(33168, 1)